# Czyszczenie danych

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./wypadki.csv", engine='c', low_memory=False)
df['BOROUGH'] = df['BOROUGH'].str.upper()

In [3]:
unique_values = df['BOROUGH'].unique()
print(unique_values)

['QUEENS' 'BROOKLYN' 'MANHATTAN' 'BRONX' nan 'STATEN ISLAND']

In [4]:
#Zmieniamy nazwy kolum dla łatwiejszego pisania kodu 
df.rename(columns={'ACCIDENT DATE': 'date', 'ACCIDENT TIME': 'time', 'BOROUGH': 'borough', 'ZIP CODE':'zip_code', 'LATITUDE':'latitude',
                  'LONGITUDE':'longitude','LOCATION':'location','ON STREET NAME':'on_street',
                  'CROSS STREET NAME': 'cross_street', 'OFF STREET NAME':'off_street',
                  'NUMBER OF PERSONS INJURED':'num_persons_injured', 'NUMBER OF PERSONS KILLED':'num_persons_killed',
                  'NUMBER OF PEDESTRIANS INJURED':'num_pedestrians_injured',
                   'NUMBER OF PEDESTRIANS KILLED':'num_pedestrians_killed', 
                   'NUMBER OF CYCLIST INJURED':'num_cyclist_injured',
                   'NUMBER OF CYCLIST KILLED' : 'num_cyclist_killed',
                   'NUMBER OF MOTORIST INJURED':'num_motorist_injured',
                   'NUMBER OF MOTORIST KILLED': 'num_motorist_killed',
                   'CONTRIBUTING FACTOR VEHICLE 1':'contributing_factor_vehicle_1',
                   'CONTRIBUTING FACTOR VEHICLE 2':'contributing_factor_vehicle_2',
                   'CONTRIBUTING FACTOR VEHICLE 3':'contributing_factor_vehicle_3',
                   'CONTRIBUTING FACTOR VEHICLE 4':'contributing_factor_vehicle_4',
                   'CONTRIBUTING FACTOR VEHICLE 5':'contributing_factor_vehicle_5',
                   'COLLISION_ID':'collison_id',
                   'VEHICLE TYPE CODE 1':'vehicle_type_code_1',
                   'VEHICLE TYPE CODE 2':'vehicle_type_code_2',
                   'VEHICLE TYPE CODE 3':'vehicle_type_code_3',
                   'VEHICLE TYPE CODE 4':'vehicle_type_code_4',
                   'VEHICLE TYPE CODE 5':'vehicle_type_code_5'
                  }, inplace=True)
df.head(50)

,date,time,borough,zip_code,latitude,longitude,location,on_street,cross_street,off_street,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collison_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
5,2019-08-29T00:00:00.000,12:28,BROOKLYN,11222,40.726524,-73.946390,"{'type': 'Point', 'coordinates': [-73.94639, 4...",NaN,NaN,38 JEWEL STREET,...,Unspecified,NaN,NaN,NaN,4196772,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
6,2019-08-31T00:00:00.000,2:16,QUEENS,11434,40.667522,-73.780630,"{'type': 'Point', 'coordinates': [-73.78063, 4...",ROCKAWAY BOULEVARD,NORTH CONDUIT AVENUE,NaN,...,NaN,NaN,NaN,NaN,4198571,Sedan,NaN,NaN,NaN,NaN
7,2019-08-11T00:00:00.000,22:23,NaN,NaN,40.858210,-73.916790,"{'type': 'Point', 'coordinates': [-73.91679, 4...",MAJOR DEEGAN EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4187134,Motorcycle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
8,2019-08-02T00:00:00.000,16:30,QUEENS,11434,40.666492,-73.765360,"{'type': 'Point', 'coordinates': [-73.76536, 4...",SOUTH CONDUIT AVENUE,179 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4181743,Pick-up Truck,Pick-up Truck,NaN,NaN,NaN
9,2019-08-21T00:00:00.000,17:30,BRONX,10452,40.837720,-73.927630,"{'type': 'Point', 'coordinates': [-73.92763, 4...",WEST 167 STREET,UNIVERSITY AVENUE,NaN,...,NaN,NaN,NaN,NaN,4198173,Sedan,NaN,NaN,NaN,NaN
10,2019-08-20T00:00:00.000,14:25,BROOKLYN,11217,40.681640,-73.985680,"{'type': 'Point', 'coordinates': [-73.98568, 4...",NEVINS STREET,BUTLER STREET,NaN,...,Unspecified,NaN,NaN,NaN,4192620,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
11,2019-08-17T00:00:00.000,14:02,BROOKLYN,11226,40.644047,-73.957470,"{'type': 'Point', 'coordinates': [-73.95747, 4...",NaN,NaN,2143 CORTELYOU ROAD,...,Unspecified,NaN,NaN,NaN,4190141,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,2019-08-20T00:00:00.000,10:30,BROOKLYN,11205,40.698463,-73.960205,"{'type': 'Point', 'coordinates': [-73.960205, ...",FLUSHING AVENUE,KENT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4192027,Pick-up Truck,Box Truck,NaN,NaN,NaN
13,2019-08-04T00:00:00.000,23:09,NaN,NaN,40.716652,-73.825900,"{'type': 'Point', 'coordinates': [-73.8259, 40...",GRAND CENTRAL PKWY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4182834,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
14,2019-08-12T00:00:00.000,11:20,QUEENS,11420,40.678550,-73.814220,"{'type': 'Point', 'coordinates': [-73.81422, 4...",NaN,NaN,125-05 115 AVENUE,...,Unsafe Speed,NaN,NaN,NaN,4187599,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
15,2019-08-09T00:00:00.000,18:30,MANHATTAN,10012,40.720890,-73.995760,"{'type': 'Point', 'coordinates': [-73.99576, 4...",KENMARE STREET,MOTT STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4188509,Sedan,Sedan,NaN,NaN,NaN
16,2019-08-07T00:00:00.000,13:25,NaN,NaN,40.681557,-73.966545,"{'type': 'Point', 'coordinates': [-73.966545, ...",ATLANTIC AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4185313,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
17,2019-08-27T00:00:00.000,17:06,BRONX,10458,40.865726,-73.887344,"{'type': 'Point', 'coordinates': [-73.887344, ...",NaN,NaN,382 EAST 197 STREET,...,Unspecified,Unspecified,Unspecified,NaN,4195871,Station Wagon/Sport Utility Vehicle,Taxi,Taxi,Station Wagon/Sport Utility Vehicle,NaN
18,2019-08-16T00:00:00.000,17:20,STATEN ISLAND,10309,40.523136,-74.216250,"{'type': 'Point', 'coordinates': [-74.21625, 4...",AMBOY ROAD,STATION AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4191144,Sedan,NaN,NaN,NaN,NaN
19,2019-08-25T00:00:00.000,11:58,BRONX,10452,40.836994,-73.925850,"{'type': 'Point', 'coordinates': [-73.92585, 4...",NaN,NaN,1170 NELSON AVENUE,...,Unspecified,NaN,NaN,NaN,4197166,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
20,2019-08-06T00:00:00.000,16:50,BROOKLYN,11230,40.616653,-73.972340,"{'type': 'Point', 'coordinates': [-73.97234, 4...",AVENUE M,EAST 3 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4185461,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
21,2019-08-15T00:00:00.000,16:11,MANHATTAN,10018,40.756207,-73.991360,"{'type': 'Point', 'coordinates': [-73.99136, 4...",NaN,NaN,310 WEST 40 STREET,...,Unspecified,NaN,NaN,NaN,4189468,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
22,2019-08-21T00:00:00.000,19:15,MANHATTAN,10018,40.757107,-73.997314,"{'type': 'Point', 'coordinates': [-73.997314, ...",WEST 38 STREET,10 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4193346,Station Wagon/Sport Utility Vehicle,Taxi,NaN,NaN,NaN
23,2019-08-29T00:00:00.000,7:55,MANHATTAN,10010,40.735798,-73.976105,"{'type': 'Point', 'coordinates': [-73.976105, ...",NaN,NaN,510 EAST 23 STREET,...,Unspecified,NaN,NaN,NaN,4196618,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
24,2019-11-26T00:00:00.000,0:00,BROOKLYN,11210,40.625843,-73.955370,"{'type': 'Point', 'coordinates': [-73.95537, 4...",AVENUE J,EAST 21 STREET,NaN,...,NaN,NaN,NaN,NaN,4247732,Sedan,NaN,NaN,NaN,NaN
25,2019-08-28T00:00:00.000,17:00,BROOKLYN,11249,40.709120,-73.968500,"{'type': 'Point', 'coordinates': [-73.9685, 40...",NaN,NaN,440 KENT AVENUE,...,Unspecified,NaN,NaN,NaN,4198840,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN
26,2019-08-02T00:00:00.000,13:56,NaN,NaN,NaN,NaN,NaN,WESTCHESTER AVENUE,BRUCKNER BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4182323,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
27,2019-08-21T00:00:00.000,22:21,BROOKLYN,11203,40.654220,-73.923860,"{'type': 'Point', 'coordinates': [-73.92386, 4...",LINDEN BOULEVARD,EAST 57 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4194360,Sedan,Box Truck,NaN,NaN,NaN
28,2019-08-20T00:00:00.000,11:00,QUEENS,11105,40.773663,-73.902390,"{'type': 'Point', 'coordinates': [-73.90239, 4...",21 AVENUE,42 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4192979,Sedan,Sedan,NaN,NaN,NaN
29,2019-08-29T00:00:00.000,16:00,QUEENS,11104,40.743480,-73.921486,"{'type': 'Point', 'coordinates': [-73.921486, ...",43 STREET,QUEENS BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,4197196,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
30,2019-08-12T00:00:00.000,13:00,BROOKLYN,11226,40.648376,-73.965790,"{'type': 'Point', 'coordinates': [-73.96579, 4...",MARLBOROUGH ROAD,CHURCH AVENUE,NaN,...,NaN,NaN,NaN,NaN,4187562,Sedan,NaN,NaN,NaN,NaN
31,2019-08-26T00:00:00.000,21:44,BRONX,10457,40.839615,-73.904890,"{'type': 'Point', 'coordinates': [-73.90489, 4...",NaN,NaN,425 CLAREMONT PARKWAY,...,NaN,NaN,NaN,NaN,4195373,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
32,2019-08-17T00:00:00.000,12:00,QUEENS,11364,40.744430,-73.765060,"{'type': 'Point', 'coordinates': [-73.76506, 4...",NaN,NaN,64-27 211 STREET,...,Other Vehicular,NaN,NaN,NaN,4189934,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
33,2019-08-04T00:00:00.000,19:30,BROOKLYN,11223,40.603400,-73.971810,"{'type': 'Point', 'coordinates': [-73.97181, 4...",NaN,NaN,14 BILLINGS PLACE,...,Passing or Lane Usage Improper,Unspecified,NaN,NaN,4182955,Sedan,Sedan,Sedan,NaN,NaN
34,2019-08-12T00:00:00.000,13:30,NaN,NaN,40.713070,-73.775270,"{'type': 'Point', 'coordinates': [-73.77527, 4...",186 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4188162,Sedan,Sedan,NaN,NaN,NaN
35,2019-08-14T00:00:00.000,17:15,MANHATTAN,10001,NaN,NaN,NaN,WEST 34 STREET,12 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4189031,Sedan,Sedan,NaN,NaN,NaN
36,2019-08-26T00:00:00.000,15:00,QUEENS,11433,40.704853,-73.791664,"{'type': 'Point', 'coordinates': [-73.791664, ...",93 AVENUE,168 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4197512,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
37,2019-08-07T00:00:00.000,16:13,NaN,NaN,NaN,NaN,NaN,HUTCHINSON RIVER PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4185359,Pick-up Truck,NaN,NaN,NaN,NaN
38,2019-08-02T00:00:00.000,14:50,MANHATTAN,10121,40.750015,-73.991356,"{'type': 'Point', 'coordinates': [-73.991356, ...",NaN,NaN,2 PENNSYLVANIA PLAZA,...,Unspecified,NaN,NaN,NaN,4182304,Box Truck,Taxi,NaN,NaN,NaN
39,2019-08-20T00:00:00.000,23:30,NaN,NaN,40.729350,-73.910194,"{'type': 'Point', 'coordinates': [-73.910194, ...",LONG ISLAND EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4192604,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
40,2019-08-07T00:00:00.000,22:38,NaN,NaN,40.803960,-73.948280,"{'type': 'Point', 'coordinates': [-73.94828, 4...",WEST 119 STREET,NaN,NaN,...,Other Vehicular,NaN,NaN,NaN,4187471,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
41,2019-08-24T00:00:00.000,2:37,BROOKLYN,11232,40.649860,-74.019720,"{'type': 'Point', 'coordinates': [-74.01972, 4...",1 AVENUE,51 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4193871,Station Wagon/Sport Utility Vehicle,Garbage or Refuse,NaN,NaN,NaN
42,2019-08-11T00:00:00.000,7:55,BROOKLYN,11221,40.684624,-73.938380,"{'type': 'Point', 'coordinates': [-73.93838, 4...",MARCUS GARVEY BOULEVARD,JEFFERSON AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4191300,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
43,2019-08-23T00:00:00.000,15:15,NaN,NaN,40.534813,-74.194115,"{'type': 'Point', 'coordinates': [-74.194115, ...",KOREAN WAR VETS PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4193804,Pick-up Truck,NaN,NaN,NaN,NaN
44,2019-08-02T00:00:00.000,0:15,NaN,NaN,NaN,NaN,NaN,VANWYCK EXPRESSWAY,109 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4181243,Sedan,Sedan,NaN,NaN,NaN
45,2019-08-28T00:00:00.000,14:40,NaN,NaN,40.818210,-73.961440,"{'type': 'Point', 'coordinates': [-73.96144, 4...",HENRY HUDSON PARKWAY,NaN,NaN,...,NaN,NaN,NaN,NaN,4203814,Sedan,NaN,NaN,NaN,NaN
46,2019-08-15T00:00:00.000,18:08,NaN,NaN,NaN,NaN,NaN,BROOKLYN BRIDGE,NaN,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4192999,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
47,2019-08-28T00:00:00.000,12:30,NaN,NaN,NaN,NaN,NaN,LAURELTON PARKWAY,FRANCIS LEWIS BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,4196752,Sedan,NaN,NaN,NaN,NaN
48,2019-08-23T00:00:00.000,15:37,BROOKLYN,11235,40.578274,-73.958270,"{'type': 'Point', 'coordinates': [-73.95827, 4...",BRIGHTON BEACH AVENUE,OCEANA TERRACE,NaN,...,Other Vehicular,NaN,NaN,NaN,4194489,Sedan,Bulk Agriculture,NaN,NaN,NaN
49,2019-08-27T00:00:00.000,9:27,BRONX,10472,40.832230,-73.875244,"{'type': 'Point', 'coordinates': [-73.875244, ...",NaN,NaN,1308 MORRISON AVENUE,...,Unspecified,NaN,NaN,NaN,4197752,Sedan,Sedan,NaN,NaN,NaN

## optymalizacji pamięci

In [5]:
# Wyświetlenie kilku pierwszych wierszy oraz typów danych
print(df.head())
print(df.info())

# Wyświetlenie nazwy kolumn (dla łatwiejszej analizy)
print(df.columns)

# Opcjonalna optymalizacja: konwersja kolumn obiektowych na kategorie (jeśli ma to sens)
category_columns = [
    'borough', 'location', 'on_street', 'cross_street', 'off_street',
    'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
    'contributing_factor_vehicle_5', 'vehicle_type_code_1', 'vehicle_type_code_2',
    'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'
]

for col in category_columns:
    df[col] = df[col].astype('category')

# Ponowna analiza typów danych po konwersji
print(df.info())

                      date   time    borough zip_code   latitude  longitude  \
0  2019-08-05T00:00:00.000  16:30     QUEENS    11434  40.676052 -73.790184
1  2019-08-27T00:00:00.000  16:02   BROOKLYN    11225  40.657780 -73.951096
2  2019-08-15T00:00:00.000  17:57  MANHATTAN    10002  40.718143 -73.993835
3  2019-08-30T00:00:00.000  21:53      BRONX    10460  40.840534 -73.866610
4  2019-08-06T00:00:00.000   9:45  MANHATTAN    10016  40.745440 -73.975400

                                            location  \
0  {'type': 'Point', 'coordinates': [-73.790184, ...
1  {'type': 'Point', 'coordinates': [-73.951096, ...
2  {'type': 'Point', 'coordinates': [-73.993835, ...
3  {'type': 'Point', 'coordinates': [-73.86661, 4...
4  {'type': 'Point', 'coordinates': [-73.9754, 40...

                          on_street  cross_street  \
0                               NaN           NaN
1                               NaN           NaN
2  CHRYSTIE STREET                   GRAND STREET
3                               NaN           NaN
4  EAST 35 STREET                        2 AVENUE

                                 off_street  ...  \
0  150-08    123 AVENUE                      ...
1  288       HAWTHORNE STREET                ...
2                                       NaN  ...
3  1837      EAST TREMONT AVENUE             ...
4                                       NaN  ...

    contributing_factor_vehicle_2  contributing_factor_vehicle_3  \
0                     Unspecified                            NaN
1                     Unspecified                            NaN
2                             NaN                            NaN
3                     Unspecified                            NaN
4  Driver Inattention/Distraction                            NaN

   contributing_factor_vehicle_4  contributing_factor_vehicle_5  collison_id  \
0                            NaN                            NaN      4184637
1                            NaN                            NaN      4195773
2                            NaN                            NaN      4202457
3                            NaN                            NaN      4198749
4                            NaN                            NaN      4183798

                   vehicle_type_code_1                  vehicle_type_code_2  \
0                                Sedan                        Pick-up Truck
1  Station Wagon/Sport Utility Vehicle  Station Wagon/Sport Utility Vehicle
2                                Sedan                                  NaN
3                                 Taxi  Station Wagon/Sport Utility Vehicle
4  Station Wagon/Sport Utility Vehicle                                 Bike

   vehicle_type_code_3 vehicle_type_code_4 vehicle_type_code_5
0                  NaN                 NaN                 NaN
1                  NaN                 NaN                 NaN
2                  NaN                 NaN                 NaN
3                  NaN                 NaN                 NaN
4                  NaN                 NaN                 NaN

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   date                           1612178 non-null  object
 1   time                           1612178 non-null  object
 2   borough                        1127553 non-null  object
 3   zip_code                       1127376 non-null  object
 4   latitude                       1415893 non-null  float64
 5   longitude                      1415893 non-null  float64
 6   location                       1415893 non-null  object
 7   on_street                      1298002 non-null  object
 8   cross_street                   1079193 non-null  object
 9   off_street                     219732 non-null   object
 10  num_persons_injured            1612161 non-null  float64
 11  num_persons_killed             1612145 non-null  float64
 12  num_pedestrians_injured        1612178 non-null  int64
 13  num_pedestrians_killed         1612178 non-null  int64
 14  num_cyclist_injured            1612178 non-null  int64
 15  num_cyclist_killed             1612178 non-null  int64
 16  num_motorist_injured           1612178 non-null  int64
 17  num_motorist_killed            1612178 non-null  int64
 18  contributing_factor_vehicle_1  1607854 non-null  object
 19  contributing_factor_vehicle_2  1396127 non-null  object
 20  contributing_factor_vehicle_3  104254 non-null   object
 21  contributing_factor_vehicle_4  21789 non-null    object
 22  contributing_factor_vehicle_5  5622 non-null     object
 23  collison_id                    1612178 non-null  int64
 24  vehicle_type_code_1            1606597 non-null  object
 25  vehicle_type_code_2            1346858 non-null  object
 26  vehicle_type_code_3            128742 non-null   object
 27  vehicle_type_code_4            46009 non-null    object
 28  vehicle_type_code_5            10150 non-null    object
dtypes: float64(4), int64(7), object(18)
memory usage: 356.7+ MB
None
Index(['date', 'time', 'borough', 'zip_code', 'latitude', 'longitude',
       'location', 'on_street', 'cross_street', 'off_street',
       'num_persons_injured', 'num_persons_killed', 'num_pedestrians_injured',
       'num_pedestrians_killed', 'num_cyclist_injured', 'num_cyclist_killed',
       'num_motorist_injured', 'num_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
       'contributing_factor_vehicle_5', 'collison_id', 'vehicle_type_code_1',
       'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4',
       'vehicle_type_code_5'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1612178 entries, 0 to 1612177
Data columns (total 29 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   date                           1612178 non-null  object
 1   time                           1612178 non-null  object
 2   borough                        1127553 non-null  category
 3   zip_code                       1127376 non-null  object
 4   latitude                       1415893 non-null  float64
 5   longitude                      1415893 non-null  float64
 6   location                       1415893 non-null  category
 7   on_street                      1298002 non-null  category
 8   cross_street                   1079193 non-null  category
 9   off_street                     219732 non-null   category
 10  num_persons_injured            1612161 non-null  float64
 11  num_persons_killed             1612145 non-null  float64
 12  num_pedestrians_injured        1612178 non-null  int64
 13  num_pedestrians_killed         1612178 non-null  int64
 14  num_cyclist_injured            1612178 non-null  int64
 15  num_cyclist_killed             1612178 non-null  int64
 16  num_motorist_injured           1612178 non-null  int64
 17  num_motorist_killed            1612178 non-null  int64
 18  contributing_factor_vehicle_1  1607854 non-null  object
 19  contributing_factor_vehicle_2  1396127 non-null  category
 20  contributing_factor_vehicle_3  104254 non-null   category
 21  contributing_factor_vehicle_4  21789 non-null    category
 22  contributing_factor_vehicle_5  5622 non-null     category
 23  collison_id                    1612178 non-null  int64
 24  vehicle_type_code_1            1606597 non-null  category
 25  vehicle_type_code_2            1346858 non-null  category
 26  vehicle_type_code_3            128742 non-null   category
 27  vehicle_type_code_4            46009 non-null    category
 28  vehicle_type_code_5            10150 non-null    category
dtypes: category(14), float64(4), int64(7), object(4)
memory usage: 232.7+ MB
None

In [6]:
df.head(10) #Sprawdzenie 10 pierwszych wierszy
df.shape #Sprawdzenie dokładnej ilości wierszy i kolumn

(1612178, 29)

In [7]:
df.isnull().any() #Sprawdzenie w ilu komlumnach mamy "null"

date                             False
time                             False
borough                           True
zip_code                          True
latitude                          True
longitude                         True
location                          True
on_street                         True
cross_street                      True
off_street                        True
num_persons_injured               True
num_persons_killed                True
num_pedestrians_injured          False
num_pedestrians_killed           False
num_cyclist_injured              False
num_cyclist_killed               False
num_motorist_injured             False
num_motorist_killed              False
contributing_factor_vehicle_1     True
contributing_factor_vehicle_2     True
contributing_factor_vehicle_3     True
contributing_factor_vehicle_4     True
contributing_factor_vehicle_5     True
collison_id                      False
vehicle_type_code_1               True
vehicle_type_code_2               True
vehicle_type_code_3               True
vehicle_type_code_4               True
vehicle_type_code_5               True
dtype: bool

In [8]:
#źródło: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html
#usuwamy wiersze, ktore maja "null"
df.dropna(subset=['location'],inplace=True)
df.reset_index(drop=True, inplace=True)
df.isnull().any().copy()

date                             False
time                             False
borough                           True
zip_code                          True
latitude                         False
longitude                        False
location                         False
on_street                         True
cross_street                      True
off_street                        True
num_persons_injured               True
num_persons_killed                True
num_pedestrians_injured          False
num_pedestrians_killed           False
num_cyclist_injured              False
num_cyclist_killed               False
num_motorist_injured             False
num_motorist_killed              False
contributing_factor_vehicle_1     True
contributing_factor_vehicle_2     True
contributing_factor_vehicle_3     True
contributing_factor_vehicle_4     True
contributing_factor_vehicle_5     True
collison_id                      False
vehicle_type_code_1               True
vehicle_type_code_2               True
vehicle_type_code_3               True
vehicle_type_code_4               True
vehicle_type_code_5               True
dtype: bool

In [9]:
#Źródło: https://uszipcode.readthedocs.io/uszipcode/search.html
#Potrzebujemy jeszcze pozamieniac wartosci w kolumnie "borough" i "zip_code"
import fuzzywuzzy
from fuzzywuzzy import fuzz
from uszipcode import SearchEngine 
search = SearchEngine()
result = search.by_coordinates(df.latitude[6],df.longitude[6])
result[0]

/home/student/.local/lib/python3.10/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

SimpleZipcode(zipcode='11434', zipcode_type='STANDARD', major_city='Jamaica', post_office_city='Jamaica, NY', common_city_list=['Jamaica', 'Addisleigh Park', 'Addisleigh Pk', 'Rochdale...'], county='Queens County', state='NY', lat=40.68, lng=-73.78, timezone='America/New_York', radius_in_miles=2.0, area_code_list='516,718', population=59129, population_density=18256.0, land_area_in_sqmi=3.24, water_area_in_sqmi=0.07, housing_units=21681, occupied_housing_units=20244, median_home_value=371900, median_household_income=59229, bounds_west=-73.801898, bounds_east=-73.75797, bounds_north=40.69665, bounds_south=40.65616)

In [10]:
print(result[4].zipcode)
print(result[4].major_city)

11413
Springfield Gardens

In [11]:
#dana funcja zipcityfinder, która dzięki argumentom lat i lon zwraca nam kod pocztowy i miasto podanych współrzędnych
def WyszukiwaczMiastaIKodu(lat, lon): 
    search = SearchEngine()
    result = search.by_coordinates(lat, lon)
    return(result[0].zipcode, result[0].major_city)

In [12]:
# for size in range(len(df[:100])):  #stepping through 100 rows
    
#     if pd.isnull(df.zip_code[size]) or pd.isnull(df.borough[size]): #Sprawdza, czy wartość w kolumnie zip_code lub borough jest pusta (NaN) dla danego indeksu size.
#         l1,l2=df.latitude[size],df.longitude[size] #Jeśli tak, to pobiera wartości latitude i longitude dla tego samego indeksu size.
#         z,c=WyszukiwaczMiastaIKodu(l1,l2) #Wywołuje funkcję WyszukiwaczMiastaIKodu z tymi współrzędnymi geograficznymi jako argumentami.
#         df.zip_code[size]=z #Funkcja WyszukiwaczMiastaIKodu zwraca kod pocztowy (z) i nazwę głównego miasta (c).
#         df.borough[size]=c

# df.head(5).copy()

# Konwertowanie kolumny 'borough' na typ object
df['borough'] = df['borough'].astype(object)

for size in range(len(df[:100])):  # Stepping through 100 rows
    if pd.isnull(df.loc[size, 'zip_code']) or pd.isnull(df.loc[size, 'borough']):  # Check if zip_code or borough is NaN
        l1, l2 = df.loc[size, 'latitude'], df.loc[size, 'longitude']  # Get latitude and longitude
        z, c = WyszukiwaczMiastaIKodu(l1, l2)  # Use function to get zip_code and borough
        
        df.loc[size, 'zip_code'] = z  # Set zip_code using .loc
        df.loc[size, 'borough'] = c  # Set borough using .loc

# Opcjonalnie konwertujemy 'borough' z powrotem na typ category, jeśli to potrzebne
df['borough'] = df['borough'].astype('category')

# Wyświetlenie pierwszych 5 wierszy DataFrame
df.head(5).copy()

,date,time,borough,zip_code,latitude,longitude,location,on_street,cross_street,off_street,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collison_id,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,Unspecified,NaN,NaN,NaN,4184637,Sedan,Pick-up Truck,NaN,NaN,NaN
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,Unspecified,NaN,NaN,NaN,4195773,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,NaN,NaN,NaN,NaN,4202457,Sedan,NaN,NaN,NaN,NaN
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,Unspecified,NaN,NaN,NaN,4198749,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN

In [13]:
column_names = df.columns.tolist()
print(column_names)

['date', 'time', 'borough', 'zip_code', 'latitude', 'longitude', 'location', 'on_street', 'cross_street', 'off_street', 'num_persons_injured', 'num_persons_killed', 'num_pedestrians_injured', 'num_pedestrians_killed', 'num_cyclist_injured', 'num_cyclist_killed', 'num_motorist_injured', 'num_motorist_killed', 'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5', 'collison_id', 'vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5']

In [14]:
#lista kolumn, które chce zachować
other_cols = ['date', 'time', 'borough', 'zip_code', 'latitude', 'longitude', 'location', 'on_street', 'cross_street', 'off_street', 
              'num_persons_injured', 'num_persons_killed', 'num_pedestrians_injured', 'num_pedestrians_killed', 'num_cyclist_injured', 
              'num_cyclist_killed', 'num_motorist_injured', 'num_motorist_killed', 'contributing_factor_vehicle_1', 
              'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 
              'contributing_factor_vehicle_5', 'collison_id']

In [15]:
#zmieniamy sobie 5 ostatnich kolumn na 'vehicle_type' i 'vehicle_type_name'
tidy_vehicle_info_1 = df.melt(id_vars=other_cols,
                             value_vars = ['vehicle_type_code_1', 'vehicle_type_code_2', 'vehicle_type_code_3', 
              'vehicle_type_code_4', 'vehicle_type_code_5'],
                             var_name = 'vehicle_type',
                             value_name = 'vehicle_type_name')

In [16]:
#usuwamy wszystkie wiersze, w których występuje tylko 'NaN'
tidy_vehicle_info_1.dropna(subset = ['vehicle_type_name'], inplace=True) 
tidy_vehicle_info_1.reset_index(drop=True, inplace=True) 
tidy_vehicle_info_1.head()

,date,time,borough,zip_code,latitude,longitude,location,on_street,cross_street,off_street,...,num_motorist_injured,num_motorist_killed,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collison_id,vehicle_type,vehicle_type_name
0,2019-08-05T00:00:00.000,16:30,QUEENS,11434,40.676052,-73.790184,"{'type': 'Point', 'coordinates': [-73.790184, ...",NaN,NaN,150-08 123 AVENUE,...,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4184637,vehicle_type_code_1,Sedan
1,2019-08-27T00:00:00.000,16:02,BROOKLYN,11225,40.657780,-73.951096,"{'type': 'Point', 'coordinates': [-73.951096, ...",NaN,NaN,288 HAWTHORNE STREET,...,0,0,Passing Too Closely,Unspecified,NaN,NaN,NaN,4195773,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle
2,2019-08-15T00:00:00.000,17:57,MANHATTAN,10002,40.718143,-73.993835,"{'type': 'Point', 'coordinates': [-73.993835, ...",CHRYSTIE STREET,GRAND STREET,NaN,...,1,0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,4202457,vehicle_type_code_1,Sedan
3,2019-08-30T00:00:00.000,21:53,BRONX,10460,40.840534,-73.866610,"{'type': 'Point', 'coordinates': [-73.86661, 4...",NaN,NaN,1837 EAST TREMONT AVENUE,...,0,0,Unspecified,Unspecified,NaN,NaN,NaN,4198749,vehicle_type_code_1,Taxi
4,2019-08-06T00:00:00.000,9:45,MANHATTAN,10016,40.745440,-73.975400,"{'type': 'Point', 'coordinates': [-73.9754, 40...",EAST 35 STREET,2 AVENUE,NaN,...,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN,4183798,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle

In [17]:
#Tworzymy nową listę contributing_factors
contributing_factors = ['contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
                        'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4', 
                        'contributing_factor_vehicle_5'] 
#aktualizujemy liste other_cols
other_cols = list(set(other_cols)-set(contributing_factors)) + ['vehicle_type', 'vehicle_type_name'] 
#funcja melt pozwala nam połączyć inne kolumny ze sobą 
tidy_contributing_factor = tidy_vehicle_info_1.melt(id_vars=other_cols,
                             value_vars = contributing_factors,
                             var_name = 'contributing_factor_type',
                             value_name = 'contributing_factor_name') 
tidy_contributing_factor.head()

,collison_id,latitude,on_street,off_street,cross_street,longitude,num_pedestrians_killed,date,num_motorist_killed,num_persons_killed,...,num_persons_injured,num_motorist_injured,borough,zip_code,num_cyclist_injured,num_cyclist_killed,vehicle_type,vehicle_type_name,contributing_factor_type,contributing_factor_name
0,4184637,40.676052,NaN,150-08 123 AVENUE,NaN,-73.790184,0,2019-08-05T00:00:00.000,0,0.0,...,0.0,0,QUEENS,11434,0,0,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Passing Too Closely
1,4195773,40.657780,NaN,288 HAWTHORNE STREET,NaN,-73.951096,0,2019-08-27T00:00:00.000,0,0.0,...,0.0,0,BROOKLYN,11225,0,0,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Passing Too Closely
2,4202457,40.718143,CHRYSTIE STREET,NaN,GRAND STREET,-73.993835,0,2019-08-15T00:00:00.000,0,0.0,...,1.0,1,MANHATTAN,10002,0,0,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Driver Inattention/Distraction
3,4198749,40.840534,NaN,1837 EAST TREMONT AVENUE,NaN,-73.866610,0,2019-08-30T00:00:00.000,0,0.0,...,0.0,0,BRONX,10460,0,0,vehicle_type_code_1,Taxi,contributing_factor_vehicle_1,Unspecified
4,4183798,40.745440,EAST 35 STREET,NaN,2 AVENUE,-73.975400,0,2019-08-06T00:00:00.000,0,0.0,...,1.0,0,MANHATTAN,10016,1,0,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Driver Inattention/Distraction

In [18]:
#Funcja usuwa wszystkie wiersze z NaN 
tidy_contributing_factor.dropna(subset = ['contributing_factor_name'], inplace=True)
tidy_contributing_factor.reset_index(drop=True, inplace=True)
tidy_contributing_factor.head()

,collison_id,latitude,on_street,off_street,cross_street,longitude,num_pedestrians_killed,date,num_motorist_killed,num_persons_killed,...,num_persons_injured,num_motorist_injured,borough,zip_code,num_cyclist_injured,num_cyclist_killed,vehicle_type,vehicle_type_name,contributing_factor_type,contributing_factor_name
0,4184637,40.676052,NaN,150-08 123 AVENUE,NaN,-73.790184,0,2019-08-05T00:00:00.000,0,0.0,...,0.0,0,QUEENS,11434,0,0,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Passing Too Closely
1,4195773,40.657780,NaN,288 HAWTHORNE STREET,NaN,-73.951096,0,2019-08-27T00:00:00.000,0,0.0,...,0.0,0,BROOKLYN,11225,0,0,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Passing Too Closely
2,4202457,40.718143,CHRYSTIE STREET,NaN,GRAND STREET,-73.993835,0,2019-08-15T00:00:00.000,0,0.0,...,1.0,1,MANHATTAN,10002,0,0,vehicle_type_code_1,Sedan,contributing_factor_vehicle_1,Driver Inattention/Distraction
3,4198749,40.840534,NaN,1837 EAST TREMONT AVENUE,NaN,-73.866610,0,2019-08-30T00:00:00.000,0,0.0,...,0.0,0,BRONX,10460,0,0,vehicle_type_code_1,Taxi,contributing_factor_vehicle_1,Unspecified
4,4183798,40.745440,EAST 35 STREET,NaN,2 AVENUE,-73.975400,0,2019-08-06T00:00:00.000,0,0.0,...,1.0,0,MANHATTAN,10016,1,0,vehicle_type_code_1,Station Wagon/Sport Utility Vehicle,contributing_factor_vehicle_1,Driver Inattention/Distraction

In [19]:
#Tworzymy nową listę, która zawiera on_street,cross_street,off_street
street_info_cols = ['on_street','cross_street','off_street']

In [20]:
other_cols1 = list(set(other_cols) - set(street_info_cols)) + ['contributing_factor_type','contributing_factor_name']

In [21]:
id_vars_df = tidy_contributing_factor[other_cols1]
melted_dfs = []
for col in street_info_cols:
    melted_df = tidy_contributing_factor[col].reset_index(drop=True)
    melted_df['street_info'] = col 
    melted_df.columns = ['street_name', 'street_info']
    melted_dfs.append(melted_df)
value_vars_df = pd.concat(melted_dfs, ignore_index=True)
tidy_street = pd.concat([id_vars_df, value_vars_df], axis=1)

In [22]:
tidy_street = tidy_street.rename(columns={0: 'street_name'})
tidy_street.head()

,collison_id,latitude,longitude,num_pedestrians_killed,date,num_motorist_killed,num_persons_killed,vehicle_type_name,vehicle_type,num_pedestrians_injured,...,time,num_persons_injured,num_motorist_injured,borough,zip_code,num_cyclist_injured,num_cyclist_killed,contributing_factor_type,contributing_factor_name,street_name
0,4184637.0,40.676052,-73.790184,0.0,2019-08-05T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,16:30,0.0,0.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Passing Too Closely,NaN
1,4195773.0,40.657780,-73.951096,0.0,2019-08-27T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,16:02,0.0,0.0,BROOKLYN,11225,0.0,0.0,contributing_factor_vehicle_1,Passing Too Closely,NaN
2,4202457.0,40.718143,-73.993835,0.0,2019-08-15T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,17:57,1.0,1.0,MANHATTAN,10002,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CHRYSTIE STREET
3,4198749.0,40.840534,-73.866610,0.0,2019-08-30T00:00:00.000,0.0,0.0,Taxi,vehicle_type_code_1,0.0,...,21:53,0.0,0.0,BRONX,10460,0.0,0.0,contributing_factor_vehicle_1,Unspecified,NaN
4,4183798.0,40.745440,-73.975400,0.0,2019-08-06T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,9:45,1.0,0.0,MANHATTAN,10016,1.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,EAST 35 STREET

In [23]:
tidy_street.dropna(subset = ['street_name'], inplace=True) 
tidy_street.reset_index(drop=True, inplace=True) 
tidy_street.head(50)

,collison_id,latitude,longitude,num_pedestrians_killed,date,num_motorist_killed,num_persons_killed,vehicle_type_name,vehicle_type,num_pedestrians_injured,...,time,num_persons_injured,num_motorist_injured,borough,zip_code,num_cyclist_injured,num_cyclist_killed,contributing_factor_type,contributing_factor_name,street_name
0,4202457.0,40.718143,-73.993835,0.0,2019-08-15T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,17:57,1.0,1.0,MANHATTAN,10002,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CHRYSTIE STREET
1,4183798.0,40.745440,-73.975400,0.0,2019-08-06T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,9:45,1.0,0.0,MANHATTAN,10016,1.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,EAST 35 STREET
2,4198571.0,40.667522,-73.780630,0.0,2019-08-31T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,2:16,0.0,0.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Unspecified,ROCKAWAY BOULEVARD
3,4187134.0,40.858210,-73.916790,0.0,2019-08-11T00:00:00.000,1.0,1.0,Motorcycle,vehicle_type_code_1,0.0,...,22:23,0.0,0.0,Bronx,10453,0.0,0.0,contributing_factor_vehicle_1,Unsafe Speed,MAJOR DEEGAN EXPRESSWAY
4,4181743.0,40.666492,-73.765360,0.0,2019-08-02T00:00:00.000,0.0,0.0,Pick-up Truck,vehicle_type_code_1,0.0,...,16:30,0.0,0.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,SOUTH CONDUIT AVENUE
5,4198173.0,40.837720,-73.927630,0.0,2019-08-21T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,17:30,0.0,0.0,BRONX,10452,0.0,0.0,contributing_factor_vehicle_1,Unspecified,WEST 167 STREET
6,4192620.0,40.681640,-73.985680,0.0,2019-08-20T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,14:25,1.0,0.0,BROOKLYN,11217,1.0,0.0,contributing_factor_vehicle_1,Following Too Closely,NEVINS STREET
7,4192027.0,40.698463,-73.960205,0.0,2019-08-20T00:00:00.000,0.0,0.0,Pick-up Truck,vehicle_type_code_1,0.0,...,10:30,0.0,0.0,BROOKLYN,11205,0.0,0.0,contributing_factor_vehicle_1,Passing or Lane Usage Improper,FLUSHING AVENUE
8,4182834.0,40.716652,-73.825900,0.0,2019-08-04T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,23:09,1.0,1.0,Kew Gardens,11415,0.0,0.0,contributing_factor_vehicle_1,Following Too Closely,GRAND CENTRAL PKWY
9,4188509.0,40.720890,-73.995760,0.0,2019-08-09T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,18:30,0.0,0.0,MANHATTAN,10012,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,KENMARE STREET
10,4185313.0,40.681557,-73.966545,0.0,2019-08-07T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,13:25,0.0,0.0,Brooklyn,11238,0.0,0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,ATLANTIC AVENUE
11,4191144.0,40.523136,-74.216250,0.0,2019-08-16T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,17:20,0.0,0.0,STATEN ISLAND,10309,0.0,0.0,contributing_factor_vehicle_1,Other Vehicular,AMBOY ROAD
12,4185461.0,40.616653,-73.972340,0.0,2019-08-06T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,16:50,0.0,0.0,BROOKLYN,11230,0.0,0.0,contributing_factor_vehicle_1,Unspecified,AVENUE M
13,4193346.0,40.757107,-73.997314,0.0,2019-08-21T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,19:15,0.0,0.0,MANHATTAN,10018,0.0,0.0,contributing_factor_vehicle_1,Turning Improperly,WEST 38 STREET
14,4247732.0,40.625843,-73.955370,0.0,2019-11-26T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,0:00,0.0,0.0,BROOKLYN,11210,0.0,0.0,contributing_factor_vehicle_1,Unspecified,AVENUE J
15,4194360.0,40.654220,-73.923860,0.0,2019-08-21T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,22:21,3.0,3.0,BROOKLYN,11203,0.0,0.0,contributing_factor_vehicle_1,Unspecified,LINDEN BOULEVARD
16,4192979.0,40.773663,-73.902390,0.0,2019-08-20T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,11:00,0.0,0.0,QUEENS,11105,0.0,0.0,contributing_factor_vehicle_1,Unspecified,21 AVENUE
17,4197196.0,40.743480,-73.921486,0.0,2019-08-29T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,16:00,1.0,1.0,QUEENS,11104,0.0,0.0,contributing_factor_vehicle_1,Unspecified,43 STREET
18,4187562.0,40.648376,-73.965790,0.0,2019-08-12T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,13:00,0.0,0.0,BROOKLYN,11226,0.0,0.0,contributing_factor_vehicle_1,Unspecified,MARLBOROUGH ROAD
19,4188162.0,40.713070,-73.775270,0.0,2019-08-12T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,13:30,0.0,0.0,Hollis,11423,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,186 STREET
20,4197512.0,40.704853,-73.791664,0.0,2019-08-26T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,15:00,1.0,1.0,QUEENS,11433,0.0,0.0,contributing_factor_vehicle_1,Brakes Defective,93 AVENUE
21,4192604.0,40.729350,-73.910194,0.0,2019-08-20T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,23:30,0.0,0.0,Maspeth,11378,0.0,0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,LONG ISLAND EXPRESSWAY
22,4187471.0,40.803960,-73.948280,0.0,2019-08-07T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,22:38,0.0,0.0,New York,10026,0.0,0.0,contributing_factor_vehicle_1,Passing Too Closely,WEST 119 STREET
23,4193871.0,40.649860,-74.019720,0.0,2019-08-24T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,2:37,1.0,1.0,BROOKLYN,11232,0.0,0.0,contributing_factor_vehicle_1,Unspecified,1 AVENUE
24,4191300.0,40.684624,-73.938380,0.0,2019-08-11T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,7:55,0.0,0.0,BROOKLYN,11221,0.0,0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,MARCUS GARVEY BOULEVARD
25,4193804.0,40.534813,-74.194115,0.0,2019-08-23T00:00:00.000,0.0,0.0,Pick-up Truck,vehicle_type_code_1,0.0,...,15:15,1.0,1.0,Staten Island,10312,0.0,0.0,contributing_factor_vehicle_1,Drugs (illegal),KOREAN WAR VETS PARKWAY
26,4203814.0,40.818210,-73.961440,0.0,2019-08-28T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,14:40,2.0,2.0,Edgewater,07020,0.0,0.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,HENRY HUDSON PARKWAY
27,4194489.0,40.578274,-73.958270,0.0,2019-08-23T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,15:37,0.0,0.0,BROOKLYN,11235,0.0,0.0,contributing_factor_vehicle_1,Other Vehicular,BRIGHTON BEACH AVENUE
28,4189488.0,40.676530,-73.756930,0.0,2019-08-14T00:00:00.000,0.0,0.0,Bike,vehicle_type_code_1,0.0,...,12:00,1.0,0.0,Saint Albans,11412,1.0,0.0,contributing_factor_vehicle_1,Unspecified,137 AVENUE
29,4181981.0,40.688410,-73.847940,0.0,2019-08-03T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,12:45,1.0,1.0,QUEENS,11421,0.0,0.0,contributing_factor_vehicle_1,Pavement Defective,95 STREET
30,4188184.0,40.696663,-73.980850,0.0,2019-08-13T00:00:00.000,0.0,0.0,Tractor Truck Diesel,vehicle_type_code_1,0.0,...,0:05,0.0,0.0,Brooklyn,11240,0.0,0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,BROOKLYN QUEENS EXPRESSWAY
31,4196580.0,40.769333,-73.841736,0.0,2019-08-29T00:00:00.000,0.0,0.0,Bus,vehicle_type_code_1,0.0,...,10:00,1.0,1.0,Flushing,11354,0.0,0.0,contributing_factor_vehicle_1,Passing or Lane Usage Improper,COLLEGE POINT BOULEVARD
32,4190123.0,40.756367,-73.960120,0.0,2019-08-17T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,14:00,0.0,0.0,New York,10065,0.0,0.0,contributing_factor_vehicle_1,Lane Marking Improper/Inadequate,FDR DRIVE
33,4182553.0,40.782055,-73.953730,0.0,2019-08-03T00:00:00.000,0.0,0.0,Taxi,vehicle_type_code_1,0.0,...,21:00,0.0,0.0,MANHATTAN,10128,0.0,0.0,contributing_factor_vehicle_1,Unspecified,LEXINGTON AVENUE
34,4188570.0,40.724552,-73.724520,0.0,2019-08-14T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,11:30,0.0,0.0,Queens Village,11428,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CROSS ISLAND PARKWAY
35,4193228.0,40.593327,-73.964645,0.0,2019-08-22T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,10:28,0.0,0.0,Brooklyn,11223,0.0,0.0,contributing_factor_vehicle_1,Passing or Lane Usage Improper,OCEAN PARKWAY
36,4191282.0,40.615383,-74.016130,0.0,2019-08-17T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,8:53,0.0,0.0,BROOKLYN,11228,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,86 STREET
37,4184960.0,40.584930,-73.952690,0.0,2019-08-07T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,15:33,1.0,1.0,Brooklyn,11235,0.0,0.0,contributing_factor_vehicle_1,Following Too Closely,BELT PARKWAY
38,4193449.0,40.740730,-73.981766,0.0,2019-08-23T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,6:31,0.0,0.0,MANHATTAN,10010,0.0,0.0,contributing_factor_vehicle_1,Unspecified,3 AVENUE
39,4193284.0,40.809563,-73.929230,0.0,2019-08-23T00:00:00.000,0.0,0.0,Taxi,vehicle_type_code_1,0.0,...,0:00,0.0,0.0,Bronx,10454,0.0,0.0,contributing_factor_vehicle_1,Unspecified,3 AVENUE
40,4196293.0,40.661522,-74.000080,0.0,2019-08-28T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,8:00,0.0,0.0,Brooklyn,11232,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,GOWANUS EXPY (BQE)
41,4193103.0,40.651363,-73.963450,0.0,2019-08-21T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,18:50,1.0,0.0,BROOKLYN,11226,1.0,0.0,contributing_factor_vehicle_1,Unspecified,CATON AVENUE
42,4186155.0,40.666695,-73.767136,0.0,2019-08-10T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,7:50,0.0,0.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Unsafe Lane Changing,SOUTH CONDUIT AVENUE
43,4197604.0,40.676327,-73.865470,0.0,2019-08-29T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,8:17,0.0,0.0,BROOKLYN,11208,0.0,0.0,contributing_factor_vehicle_1,Unspecified,GRANT AVENUE
44,4183961.0,40.852650,-73.842310,0.0,2019-08-04T00:00:00.000,0.0,0.0,Box Truck,vehicle_type_code_1,0.0,...,1:45,0.0,0.0,BRONX,10461,0.0,0.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,BASSETT AVENUE
45,4184513.0,40.672382,-73.785740,0.0,2019-08-07T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,7:00,2.0,2.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Unspecified,ROCKAWAY BOULEVARD
46,4196881.0,40.700054,-73.924590,0.0,2019-08-28T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,18:36,0.0,0.0,Brooklyn,11237,0.0,0.0,contributing_factor_vehicle_1,Traffic Control Disregarded,HART STREET
47,4183557.0,40.751990,-73.931274,0.0,2019-08-05T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,12:00,0.0,0.0,QUEENS,11101,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,NORTHERN BOULEVARD
48,4196918.0,40.669273,-73.922554,0.0,2019-08-27T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,14:38,0.0,0.0,Brooklyn,11233,0.0,0.0,contributing_factor_vehicle_1,Unspecified,LINCOLN PLACE
49,4190301.0,40.570465,-74.109770,0.0,2019-08-18T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,12:00,1.0,1.0,STATEN ISLAND,10306,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,HYLAN BOULEVARD

In [35]:
tidy_street['borough'] = tidy_street['borough'].str.upper()
unique_values = tidy_street['borough'].unique()
print(unique_values)

['MANHATTAN' 'QUEENS' 'BRONX' 'BROOKLYN' 'KEW GARDENS' 'STATEN ISLAND'
 'HOLLIS' 'MASPETH' 'NEW YORK' 'EDGEWATER' 'SAINT ALBANS' 'FLUSHING'
 'QUEENS VILLAGE' 'OAKLAND GARDENS' 'JAMAICA' 'ASTORIA' nan]

In [36]:
tidy_street.shape

(9199692, 21)

In [37]:
tidy_street = tidy_street[tidy_street["street_name"].str.strip() != '']
tidy_street.shape

(9199692, 21)

In [38]:
print(tidy_street.columns)
tidy_street.head()

Index(['collison_id', 'latitude', 'longitude', 'num_pedestrians_killed',
       'date', 'num_motorist_killed', 'num_persons_killed',
       'vehicle_type_name', 'vehicle_type', 'num_pedestrians_injured',
       'location', 'time', 'num_persons_injured', 'num_motorist_injured',
       'borough', 'zip_code', 'num_cyclist_injured', 'num_cyclist_killed',
       'contributing_factor_type', 'contributing_factor_name', 'street_name'],
      dtype='object')

,collison_id,latitude,longitude,num_pedestrians_killed,date,num_motorist_killed,num_persons_killed,vehicle_type_name,vehicle_type,num_pedestrians_injured,...,time,num_persons_injured,num_motorist_injured,borough,zip_code,num_cyclist_injured,num_cyclist_killed,contributing_factor_type,contributing_factor_name,street_name
0,4202457.0,40.718143,-73.993835,0.0,2019-08-15T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,17:57,1.0,1.0,MANHATTAN,10002,0.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,CHRYSTIE STREET
1,4183798.0,40.745440,-73.975400,0.0,2019-08-06T00:00:00.000,0.0,0.0,Station Wagon/Sport Utility Vehicle,vehicle_type_code_1,0.0,...,9:45,1.0,0.0,MANHATTAN,10016,1.0,0.0,contributing_factor_vehicle_1,Driver Inattention/Distraction,EAST 35 STREET
2,4198571.0,40.667522,-73.780630,0.0,2019-08-31T00:00:00.000,0.0,0.0,Sedan,vehicle_type_code_1,0.0,...,2:16,0.0,0.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Unspecified,ROCKAWAY BOULEVARD
3,4187134.0,40.858210,-73.916790,0.0,2019-08-11T00:00:00.000,1.0,1.0,Motorcycle,vehicle_type_code_1,0.0,...,22:23,0.0,0.0,BRONX,10453,0.0,0.0,contributing_factor_vehicle_1,Unsafe Speed,MAJOR DEEGAN EXPRESSWAY
4,4181743.0,40.666492,-73.765360,0.0,2019-08-02T00:00:00.000,0.0,0.0,Pick-up Truck,vehicle_type_code_1,0.0,...,16:30,0.0,0.0,QUEENS,11434,0.0,0.0,contributing_factor_vehicle_1,Reaction to Uninvolved Vehicle,SOUTH CONDUIT AVENUE

In [39]:
tidy_street.to_csv('cleaned_data.csv.gz', index=False)